<html>
<head>
	<title></title>
	<style>
		body {overflow: hidden; margin: 0; cursor: pointer;}
	</style>
</head>
<body>
<audio src="audio/Jannatein Kahan.mp3"></audio>
<canvas id="oscilloscope"></canvas>


<script src="javascripts/main.js"></script>
</body>	
</html>